$width_full: 100%;
$height_full: 100vh;

$line-height: 5vh;
$component-height: 10vh;
$border_radius_componenet: 10px;
$label_margin_duetofontsize: 0.8em;

$color_background_main: #f2f1f2;
$color_gradient_transfer_start: #ffb609;
$color_gradient_transfer_end: #ffab07;
$color_transfer_input: #ffd277;
$color_gradient_request_start: #64c267;
$color_gradient_request_end: #3fb075;
$color_request_input: #a8dea2;
$color_gradient_close_start: #fc4b54;
$color_gradient_close_end: #e52c51;
$color_close_input: #fa8696;
$color_date: #3f3d3d;
$color_transaction_background: white;
