@use "../abstracts/mixins";
@use "../abstracts/variables";

.transaction_container {
  @include mixins.width_height(100%, 10.2vh);
  background-color: variables.$color_transaction_background;
  display: flex;
  align-items: center;
  border-radius: variables.$border_radius_componenet
    variables.$border_radius_componenet 0 0;
  margin-bottom: 1px;

  .transaction_info {
    @include mixins.width_height(fit-content, 4vh);
    display: flex;
    border-radius: 15px;
    margin: 0px 10px;
    background-color: variables.$color_gradient_close_end;
  }

  .transaction_amount {
    width: 100%;
  }
}
